#Pets {
    width: 2146px;
    height: 797px;
}

#Pets .center {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 762px;
    height: 457.38px;
    padding-left: 181px;
    padding-top: 239.38px;
    z-index: 2;
}

#Pets .small-logo {
    width: 96px;
    height: 78.38px;
    position: absolute;

    top: 145px;
    left: 182px;
}

#Pets .background {

    width: 1920px;
    height: 797px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 149, 255, 0.10) 0%, rgba(31, 101, 197, 0.10) 100%), linear-gradient(45deg, rgba(255, 0, 0, 0.60) 0%, rgba(255, 125, 125, 0.60) 50%, rgba(31, 101, 197, 0.60) 100%);
    z-index: 1;
}

#Pets .large-logo {
    width: 512px;
    height: 446.92px;
    position: absolute;

    bottom: 0;
    left: 0px;
    
    opacity: 0.45;
}

#Pets .image {
    width: 2064px;
    height: 797px;
    object-fit: cover;
    position: relative;

    background: url(../../assets/Rectangle2.png);
}

#Pets h1 {
    width: 762px;
    height: 73px;

    line-height: 73px;
    
    color: #FFFFFF;
}

#Pets p {
    width: 762px;
    height: 170px;
    
    color: #FFFFFF;
}

#Pets .spacer {
    width: 336px;
    height: 8px;

}

#Pets .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    width: fit-content;
    
    background: #FFFFFF;

    font-family: 'SF Pro Text', Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    
    color: #FF0000;
}
