#Pets {
    padding: 100px 0px;
}

.h-100 {
    height: 100vh;
}

#Pets .center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    z-index: 1;

    height: inherit;
}

#Pets .small-logo {
    width: 96px;
}

#Pets .large-logo {
    width: 512px;
    height: 446.92px;
    position: absolute;
    bottom: 0;
    right: 0px;
    opacity: 0.45;
    z-index: 1;
}

#Pets .image {
    width: 100%;
    height: 100vh;
    background-image: url(/src/assets/Rectangle2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#Pets .image::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 149, 255, 0.10) 0%, rgba(31, 101, 197, 0.10) 100%), linear-gradient(45deg, rgba(255, 0, 0, 0.60) 0%, rgba(255, 125, 125, 0.60) 50%, rgba(31, 101, 197, 0.60) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#Pets h2 {
    line-height: 73px;
    
    color: #FFFFFF;
}

#Pets p {
    color: #FFFFFF;
}

#Pets .spacer {
    width: 336px;
    height: 8px;

}

#Pets .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    width: fit-content;
    
    background: #FFFFFF;

    font-family: 'SF Pro Text', Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    
    color: #FF0000;
}
