#track {
    background: #ffffff;
    padding: 100px 0px;
    padding-bottom: 350px;
}

#track .wrapper {
    position: relative;
}

#track .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

}

#track h2 {
    line-height: 61px;
}

#track .right {
    width: 50%;
    position: relative;
}

#track .receipt {
    box-sizing: border-box;

    position: absolute;
    right: 346px;
    top: 55px;

    border: 3px solid #C8E7FF;
    border-radius: 16px;
}

#track .receipt2 {
    box-sizing: border-box;

    position: absolute;
    right: 236px;
    top: 0px;

    border: 4px solid #C8E7FF;
    border-radius: 16px;
}

#track .scribble {
    position: absolute;
    right: 240.72px;
    top: 200.03px;

}