#pap {
    padding: 100px 0px;
}

#pap .left {
    width: 50%;
}

#pap .right {
    flex-shrink: 0;
    position: relative;
    width: 50%;
    height: 100vh;
}

#pap .button {
    padding: 24px;
    background: #0095FF;
}

#pap .image1 {
    position: absolute;
    top: 122px;
    right: 0;
}

#pap .image2 {
    position: absolute;
    right: 263px;
    top: 384px;
}