#PAP {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1047px;
}

#PAP .left {
    display: flex;
    width: 628px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: -500px;
    margin-left: 187px;
}

#PAP .right {
    width: 775px;
    height: 802.432px;
    flex-shrink: 0;
    position: relative;
}

#PAP p {
    width: 628px;
    height: 170px;
    
}

#PAP .button {
    padding: 24px;
    background: #0095FF;
}

#PAP .image1 {
    position: absolute;
    left: 1214px;
    top: 122px;
}

#PAP .image2 {
    position: absolute;
    left: 960px;
    top: 384px;
}