#d90 {
    width: 1920px;
    height: 1020px;
    background: #FFFFFF
}

#d90 .left {
    flex-shrink: 0;
    position: relative;
}

#d90 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    float: right; 
    margin-top: -600px;
    margin-right: 184px;
}

#d90 h1 {
    width: 628px;
    height: 62px;

    line-height: 61px;
}

#d90 p {
    width: 628px;
    height: 170px;
}

#d90 .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    width: fit-content;
    
    background: #1F65C5;
    
}

#d90 .button-text {
    font-family: 'SF Pro Text', Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    
    color: #FFFFFF;

}

#d90 .image1 {

    position: absolute;
    left: 184px;
    top: 100px;

    background-repeat: no-repeat;

}

#d90 .image2 {

    position: absolute;
    left: 339px;
    top: 489px;

    background-repeat: no-repeat;
}

#d90 .rectangle {
    width: 830px;
    height: 754px;
    
    background: #E4F4FF;
}