#Hero {

    width: 1920px;
    height: 754px;
    background: #E4F4FF;
}

#Hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    gap: 16px;

    padding-left: 184px;
    padding-top: 150px;

    width: 738px;
    height: 375px;
}

#Hero h1 {
    
    font-family: 'SF Pro Text-Heavy', Helvetica;
    font-style: normal;
    font-size: 96px;
    line-height: 115px;
    letter-spacing: -0.3px;
    margin: 0;
    
    color: #1F65C5;

}

#Hero h2 {
    
    font-family: 'SF Pro Text-Heavy', Helvetica;
    font-style: normal;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.3px;
    
    color: #131A29;
    
}

#Hero .frame5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    
}

#Hero .play {
    position: relative;
    width: 32px;
    height: 32px;

}

#Hero .playtext {
    width: 192px;
    height: 24px;
    
    font-family: 'SF Pro Text', Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    /* identical to box height */
    letter-spacing: -0.3px;
    text-transform: uppercase;
    
    color: #0095FF;
    
}

#Hero .ellipse4 {
    border-radius: 32px;
    border: 2px solid #0095FF;

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

#Hero .icon {
    position: absolute;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    top: 7px;
    left: 7px;

}

#Hero .image {
    width: 944px;
    height: 656px;
    float: right;
    
}