#compare {
    width: 1920px;
    height: 1193px;


    background: #E4F4FF;
    /*filter: blur(2px);*/
}

#compare .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    position: relative;
    width: 1087px;
    height: 993px;
    left: 417px;
    top: 50px;

}

#compare h1, h2 {
    text-align: center;
    color: #1F65C5;
}
#compare tr:nth-child(odd){background-color: #FFFFFF4D;}

#compare table {
    width: 100%;
    border: 1px solid #C8E7FF; 
    border-spacing: 0px;
}

#compare th {
    color: #0095FF;
    text-align: left;
    background: #C8E7FF;

    font-family: 'SF Pro Text-Bold', Helvetica;

    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.3px;   
    padding: 32px 16px;   
}



#compare td {
    padding: 24px 16px; 
    color: #131A29;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.3px;
}

th, td {
    border-bottom: 1px solid #C8E7FF; 
}


#compare .pharmecies-text {
    width: 1087px;
    height: 34px;
    
    font-family: 'SF Pro Text', Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    
    /* identical to box height, or 170% */
    text-align: center;
    letter-spacing: -0.3px;
    
    color: #656565;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#compare .pharmecies {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    
    width: 1082px;
    height: 44px;
    /*overflow-x: scroll;*/
    
    
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

    background: url(../../assets/pharmacies.png);
}