#about {
    background: linear-gradient(180deg, rgba(0, 149, 255, 0.2) 0%, rgba(31, 101, 197, 0.2) 100%), linear-gradient(81.17deg, #0095FF 0%, #0095FF 36.17%, #1F65C5 100%);    
    padding: 100px 0px;
}

#about .left {
    width: 30%;
}

#about h2 {

    line-height: 73px;
    
    color: #FFFFFF;

    margin: 0;

}

#about h3 {
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
}



#about p {
    font-size: 24px;
    line-height: 48px;
    
    color: #FFFFFF;

}

#about .right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#about .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

#about i {

    font-weight: 400;
    line-height: 48px;
    
    color: #FFFFFF;

}

#about .icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

#about .icon1 {
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#about .icon2 {
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

#about .icon3 {
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

#about .icon4 {
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}

#about .icon5 {
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;

}

#about .icon6 {
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;

}



